{% load static %}
<div class="card" >
    <div class="card-header">
      ....VLOG....
    </div>
    <div class="card-body">
      <h5 class="card-title">Special Vlog treatment</h5>
      <p class="card-text">A blog is very similar to a website, where one can find content regarding any topic in a written/text format, along with images, gifs, etc. A vlog, on the other hand, consists of video content published on any topic. There are various blogging and vlogging platforms out there that support both paid and free domains. </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
